.timer{

    width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
}

.timer_line{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;

}

.timer_linear:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color:black;
}

.timer_bod_loadery{

    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    overflow: hidden;
    z-index: 10;

}

.timer_counter_loader{
    animation: counter 10s steps(9,end) forwards;

}

.timer_counter_loader  span{
    height: 55px;
   font-size: 20px;
    display: flex;
        justify-content: center;
        align-items: center;

}

@keyframes counter {
    0%{

    }

    100%{

        transform: translate(0px, -495px);
    }
    
}

