<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-menu">
        <a href="./index.html" class="header-menu__logo">
          <img class="menu-logo__logo" src="./images/logo.svg" alt="logo" />
          <h1 class="menu-logo__text menu-logo__text_animation">Filmoteka</h1>
        </a>
        <ul class="header-menu__nav">
          <li class="menu-nav__link">
            <a href="./index.html" class="nav-link__item current">HOME</a>
          </li>
          <li class="menu-nav__link">
            <a href="#" class="nav-link__item">MY LIBRARY</a>
          </li>
        </ul>
      </div>

      <div class="header-main">
        <form action="#" class="header-search">
          <input class="search-input" type="text" placeholder="Movie search" />
          <svg class="search-icon">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </form>
      </div>
    </div>
  </div>
</header>
