<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn" data-modal-close>
            <svg class="form__icon--close" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <use href="/src/images/icons.svg#close-cross"></use>
            </svg>
        </button>
    <p>Hateful eight</p>
    <img src="../images/team-modal/the-hateful-eight-poster.jpg" alt="The Hateful eight poster">
    <p>CAST</p>
    <div>
        <img src="../images/team-modal/samuel-l-jackson.jpg" alt="">
        <p>Team Lead</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Name</p>
    </div>
    <div>
        <img src="../images/team-modal/kurt-russell.jpg" alt="">
        <p>Scrum Master</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Name</p>
    </div>
    <div>
        <img src="../images/team-modal/jennifer-jason-leigh.jpg" alt="">
        <p>Developer</p>
    </div>
    <div>
        <img src="../images/team-modal/jennifer-jason-leigh.jpg" alt="">
        <p>Name</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Developer</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Name</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Developer</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Name</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Developer</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Name</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Developer</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Name</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Developer</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Name</p>
    </div>
    </div>
  </div>