<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn" data-modal-close>
            <svg class="form__icon--close" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <use href="/src/images/icons.svg#close-cross"></use>
            </svg>
        </button>
    <p class="modal__title">Hateful eight</p>
    <img class="modal__poster" src="./images/team-modal/the-hateful-eight-poster.jpg" alt="The Hateful eight poster">
    <p class="modal__cast">CAST</p>
    <div class="modal__cast-container">
        <div class="modal__cast-card">
            <img src="./images/team-modal/samuel-l-jackson.jpg" alt="Samuel L. Jackson" class="modal__cast-image">
            <p>Team Lead</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/samuel-l-jackson.jpg" alt="" class="modal__cast-image">
            <p>Name</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/kurt-russell.jpg" alt="Kurt Russell" class="modal__cast-image">
            <p>Scrum Master</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/kurt-russell.jpg" alt="" class="modal__cast-image">
            <p>Name</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/jennifer-jason-leigh.jpg" alt="Jennifer Jason Leigh" class="modal__cast-image">
            <p>Developer</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/jennifer-jason-leigh.jpg" alt="" class="modal__cast-image">
            <p>Name</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/walton-goggins.jpg" alt="Walton Goggins" class="modal__cast-image">
            <p>Developer</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/walton-goggins.jpg" alt="" class="modal__cast-image">
            <p>Name</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/demian-bichir.jpg" alt="Demian Bichir" class="modal__cast-image">
            <p>Developer</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/demian-bichir.jpg" alt="" class="modal__cast-image">
            <p>Name</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/tim-roth.jpg" alt="Tim Roth" class="modal__cast-image">
            <p>Developer</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/tim-roth.jpg" alt="" class="modal__cast-image">
            <p>Name</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/michael-madsen.jpg" alt="Michael Madsen" class="modal__cast-image">
            <p>Developer</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/michael-madsen.jpg" alt="" class="modal__cast-image">
            <p>Name</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/bruce-dern.jpg" alt="Bruce Dern" class="modal__cast-image">
            <p>Developer</p>
        </div>
        <div class="modal__cast-card">
            <img src="./images/team-modal/bruce-dern.jpg" alt="" class="modal__cast-image">
            <p>Name</p>
        </div>
    </div>
    </div>
  </div>